body{
	background-color: #232323;
}

h1{
	color: white;
}

/*classes*/

.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float:left;
	margin: 1.66%;
}


/*ids*/
#container{
	margin: 0 auto;
	max-width: 600px;
}

/*message indicator, do i keep names in CSS?*/
#success{
	color:white;
}